* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

ul {
  display: flex;
  align-items: center;
}
ul li {
  list-style: none;
  margin-right: 20px;
}
ul li a img {
  height: 30px;
}
ul li a {
  text-decoration: none;
  color: #8B959E;
}
ul.nav-left li a {
  color: #191C1F;
}
ul.nav-left li:last-child a {
  color: #8B959E;
}
ul.nav-left li a:hover,
ul.nav-right li a:hover {
  color: #191C1F;
}

.app-btn {
  background-color: #EB008D;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 20px;
}
header ul li a.app-btn:hover {
  background-color: #D2007E;
  color: #FFF;
}
