* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-right {
  position: relative;
}

ul li {
  list-style: none;
  margin: 20px;
}
ul li a img {
  height: 30px;
}
ul li a {
  text-decoration: none;
  color: #8B959E;
}
ul.nav-left li a {
  color: #191C1F;
}
ul.nav-left li:last-child a {
  color: #8B959E;
}
ul.nav-left li a:hover,
ul.nav-right li a:hover {
  color: #191C1F;
}

.app-btn {
  background-color: #EB008D;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 20px;
}
header ul li a.app-btn:hover {
  background-color: #D2007E;
  color: #FFF;
}

.lang::after {
  content: '';
}

/* dropdown menu */

.dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 55px;
  left: 109px;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(227,227,227,1);
  -moz-box-shadow: 0px 0px 6px 3px rgba(227,227,227,1);
  box-shadow: 0px 0px 6px 3px rgba(227,227,227,1);
  padding: 10px 18px;
}

.active {
  display: flex;
}

.products-dd {
  left: 107px;
}

.company-dd {
  left: 290px;
}

.help-dd {
  left: 357px;
}

.lang-dd {
  left: 465px;
}
